
<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
  <div class="container">
    <a href="#/items/home" class="navbar-brand">Vino Vita</a>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <div class="collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-right">
                    <li><a ng-href="#/items/home">Home</a></li>
                    <li><a ng-href="#/items/new">Add New Wine</a></li>
                    <li><a ng-href="#/items/list">Library</a></li>
           </ul>        
      </div>
    </div>
  </div>
</div>

