
body {
  font-family: 'Montserrat', sans-serif;
}

.main-container { 
  margin-top: 50px;
  margin-right: 70px;
  margin-left: 40px;
 }

 .list-container {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 80px;
 }

 .login-container {
    margin: 100px auto;
    text-align: center;
 }

 .view-container {
  margin: 80px auto;
 }

 .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 50px;
  }



